.footer {
  width: 100%;
  max-width: 1024px;
  font-size: 15px;
}
.fLists {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.fList{
    padding: 20px 0;
}
.fListItem{
    margin-bottom: 20px;
    color: var(--bg-color);
    cursor: pointer;
}
.fText{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
